html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.comment-depth-0 {
    margin-left: 0rem;
    max-width: 100%;
}

.comment-depth-1 {
    margin-left: 1.5rem;
    max-width: calc(100%-1.5rem);
}

.comment-depth-2 {
    margin-left: 3rem;
    max-width: calc(100%-3rem);
}

.comment-depth-3 {
    margin-left: 4.5rem;
    max-width: calc(100%-4.5rem);
}

.comment-depth-4 {
    margin-left: 6rem;
    max-width: calc(100%-6rem);
}

.comment-depth-5 {
    margin-left: 7.5rem;
    max-width: calc(100%-7.5rem);
}

.comment-depth-6 {
    margin-left: 9rem;
    max-width: calc(100%-9rem);
}

.comment-depth-7 {
    margin-left: 10.5rem;
    max-width: calc(100%-10.5rem);
}

.comment-depth-8 {
    margin-left: 12rem;
    max-width: calc(100%-12rem);
}

.comment-depth-9 {
    margin-left: 13.5rem;
    max-width: calc(100%-13.5rem);
}

.comment-depth-10 {
    margin-left: 15rem;
    max-width: calc(100%-15rem);
}